
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Birthday Parties</div>
        <div class="collapsible-body">

          <form>
            Clip Type<input type="text" name="clip type">
            <span>Text To Be Used</span>
            <textarea></textarea>
            <span>Similar Clips</span>
            <textarea></textarea>
            <span>Description</span>
            <textarea></textarea>
          </form>


          <h5>Attachments</h5>
          <a class="waves-effect waves-light btn">Add new attachment</a>
          <br><br><br><br><br>
          <a href="#" class="waves-effect waves-light btn dl-attach-btn">Download all attachments</a>


          <div class="task-details-btns">
           
              <button type="button" class="btn btn-default btn-lg cancel-btn">Cancel</button>
            
            
              <button type="button" class="btn btn-default btn-lg create-btn">Create Clip</button>
           
          </div><!--end task-details-btns-->


        </div><!--end collapsible body-->
    </li>
  
  </ul><!--end collapsible-->