/*-----------------------------------
Menu Styles
------------------------------------*/

.container .row {
	padding-bottom: 35px;
}


#createNewTaskBtn {
	margin-left: -1px;
}

.newTaskBtnContainer {
	margin-top: 25px;
}

nav {
	background-color: #549594;
}

nav a {
	/*color: #282828;*/
}

.navbar {
	margin-top: 2em;
	
}

.nav-links ul li {
	display: inline-block;
	list-style: none;
}
ul {
	padding: 0;
}


input {
	margin-top: 11px;
	margin-right: 22px;
	width: 25%;
}
