<div class="row">
		<div class="grid-example col m12 l4 details-container">
			<!-- <h4>{{pageTitle}}</h4> -->
			<div class="card-panel">
				<h5>Create/Modify User</h5>
				<input type="text" name="username" size="61%" placeholder="Username">
				<input type="text" name="password" size="61%" placeholder="Password">
				<input type="email" name="email" size="61%" placeholder="Email">
				<input type="text" name="display-name" size="61%" placeholder="Display Name">
				<p>User Type</p>
				<select>
					<option>Admin</option>
					<option>Customer Service Rep</option>
					<option>Producer</option>
				</select>
				<label><input type="checkbox" id="userActive">User is active</label>

				<!--Task Details Buttons-->

				<div class="task-details-btns">
					
						<button type="button" class="btn btn-default btn-lg cancel-btn">Cancel</button>
					
				
						<button type="button" class="btn btn-default btn-lg create-btn">Save</button>
					
				</div><!--end task-details-btns-->

			</div><!--end card panel-->	
		</div><!--end details container--> 

</div><!--end row-->